
# PlanAhead Generated physical constraints 

NET "LCD_DB[0]" LOC = Y13;
NET "LCD_DB[1]" LOC = AB18;
NET "LCD_DB[2]" LOC = AB17;
NET "LCD_DB[3]" LOC = AB12;
NET "LCD_DB[4]" LOC = AA12;
NET "LCD_DB[5]" LOC = Y16;
NET "LCD_DB[6]" LOC = AB16;
NET "LCD_DB[7]" LOC = Y15;
NET "CLK" LOC = E12;
NET "rst" LOC = T9;
NET "RW" LOC = W13;
NET "RS" LOC = Y14;
NET "OE" LOC = AB4;
