//! **************************************************************************
// Written by: Map P.20131013 on Tue May 28 16:35:49 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U20" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "U19" LEVEL 1;
COMP "ps2c" LOCATE = SITE "W12" LEVEL 1;
COMP "ps2d" LOCATE = SITE "V11" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "V19" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "V20" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "Y22" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "W21" LEVEL 1;
COMP "reset" LOCATE = SITE "T15" LEVEL 1;
SCHEMATIC END;

